@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  font-family: 'Roboto';
  margin: 0;
  padding: 0;
  color: #333;
  background-color: lightgrey;
}

header {
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: lightgray;
}

.logo img {
  height: 50px;
}


nav ul {
  list-style: none;
  display: flex;
}

nav li {
  margin-left: 20px;
}

nav a {
  text-decoration: none;
  color: #333;
}

/* Hero-sektion */
.hero {
  display: flex;
  /*   justify-content: space-around; */
  align-items: center;

  background-color: black;
}

.hero-content {
  width: 50%;
  clip-path: polygon(0 0, 100% 0, 82% 100%, 0% 100%);
  background-color: lightgray;
  padding: 100px 20px;
}

.hero-image img {
  max-width: 400px;
  border-radius: 15%;
  padding: 100px;
}

.social-icons img {
  height: 30px;
  margin-right: 10px;
}

.linkedin-knap {
  display: inline-block;
  padding: 10px 20px;
  background-color: #333;
  /* Samme mørke farve som GitHub-knappen */
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  /* Fjern eventuel margin-left, hvis de ikke skal have mellemrum */
}

.linkedin-knap:hover {
  background-color: #555;
  /* Samme hover-effekt som GitHub-knappen */
}

.github-knap {
  display: inline-block;
  /* Får dem til at ligge ved siden af hinanden */
  padding: 10px 20px;
  background-color: #333;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  margin-right:
    /* Tilføjer mellemrum til højre for hver knap */
}

.github-knap:hover {
  background-color: #555;
}

.cv-knap {
  display: inline-block;
  /* Får dem til at ligge ved siden af hinanden */
  padding: 10px 20px;
  background-color: #333;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  margin-right: 10px;
  /* Tilføjer mellemrum til højre for hver knap */
}

.cv-knap:hover {
  background-color: #555;
}


.om-mig {
  text-align: center;
  padding: 50px 20px;
  max-width: 100%;
  justify-content: center;
  display: flex;
  font-size: 25px;
}

.om-mig-inner {
  flex-direction: column;
  display: flex;
  max-width: 700px;
  justify-content: space-between;
  align-items: center;
  font-size: 25px;
}

.services {
  display: flex;
  justify-content: space-around;
  font-size: 25px;
  text-align: center;
}

.service {
  max-width: 300px;
}


.evner {
  text-align: center;
  padding: 50px 20px;
  display: flex;
  flex-wrap: wrap;
  /* Tillader elementer at bryde til næste linje */
  /* Fjern justify-content: space-between; da det skaber uensartet afstand */
  border-radius: 25px;
  flex-direction: column;
  align-items: center;
}
.evner-sub {
  display: flex;
  justify-content: center;

  flex-wrap: wrap;
  width: 800px;
}

.evner-item {
  width: 25%;
}

.evner-item img {
  height: 50px;
  width: 50px;
}

.evner-block {
  background-color: lightgray;
  height: 100px;
  width: calc(25% - 20px);
  /* Justeret bredde for at tage højde for margin */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  /* Tilføj margin omkring hvert block for mellemrum */
  box-sizing: border-box;
  /* Sikrer at padding og border er inkluderet i bredden */
}
.evne {
  background-color: #f4f4f4;
}

/* Erfaring */
.erfaring {
  text-align: center;
  padding: 50px 20px;
  justify-content: center;
  display: flex;
}
.overskrift-center {
  text-align: center;
  justify-content: center;
  display: flex;
  padding: 50px 20px;
}

.erfaring-liste {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.erfaring-emne {
  background-color: #f4f4f4;
  padding: 10px 20px;
  border-radius: 5px;
}

/* Læring */
.laering {
  text-align: center;
  padding: 50px 20px;
}
.laering-liste {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.laering-emne {
  background-color: #f4f4f4;
  padding: 10px 20px;
  border-radius: 5px;
}

.laering-sub {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 800px;
}
.laering-item {
  width: 25%;
}
.laering-item img {
  height: 50px;
  width: 50px;
}

/* Sprog */
.sprog {
  text-align: center;
  padding: 50px 20px;
}

.sprog-liste {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.sprog-emne {
  background-color: #f4f4f4;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 5px;
}

.sprog-sub {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 800px;
}
.sprog-item {
  width: 25%;
}
.sprog-item img {
  height: auto;
  width: 60px;
}

.portfolio {
  text-align: center;
  padding: 50px 20px;
}


.portfolio_boxes {
  width: var(--width-12col);
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr; /* To kolonner */
  gap: 20px;
}

.category_content_box_one {
  width: 30%;
  height: 180px;
  grid-row: 1;
    grid-column: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center; /* Hvis indholdet skal være centreret */
    margin-left: 130px;
}

.category_content_box_two {
  width: 15%;
  height: 240px;
  grid-row: 1;
  grid-column: 2;
  display: flex;
  justify-content: start; /* Justerer indholdet vandret */
  align-items: center; /* Justerer indholdet lodret */
  text-align: center; /* Hvis indholdet skal være centreret */
}



.category_content_box_three {
  width: 15%;
  height: 80px;
  background-color: var(--background-color-light);
  display: flex;
  justify-content: center;
  align-items: center;
}
.category_content_box_four {
  width: 15%;
  height: 80px;
  background-color: var(--background-color-light);
  display: flex;
  justify-content: center;
  align-items: center;
}

.category_content_box_five {
  width: 15%;
  height: 80px;
  background-color: var(--background-color-light);
  display: flex;
  justify-content: center;
  align-items: center;
}

.category_content_box_six {
  background-color: var(--background-color-light);
    display: flex;
    justify-content: center;
    align-items: center;
    /* Du kan justere max-height på selve boksen, hvis det er nødvendigt for layoutet */
    /* max-height: 300px; */
}

.category_content_box_img  {
  max-width: 80%; /* Juster denne værdi for at gøre billedet smallere */
  max-height: 80%;
 
}










/* Footer */
footer {
  text-align: center;
  padding: 20px;
  background-color: #333;
  color: #fff;
}